.btn-outline-primary {
    color: #47B5FF !important;    
    border-color: #47B5FF !important;
    border-width: 2px;
    font-weight: bold;
}

.btn-outline-primary:hover {
    color: #DFF6FF !important;
    background-color: #47B5FF !important;
    border-color: #47B5FF !important;
}

.btn-outline-primary:focus {
    box-shadow: 0 0 0 .2rem #47B5FF7b !important;
    color: #DFF6FF !important;
    background-color: #47B5FF !important;
}

.change-city-button {
    position: absolute;
    top: 85%;
    left: 70%;
    white-space: nowrap;
}